{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daga</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="q-app"></div>
<script type="application/javascript">
    const djangoConfig = {
    }
</script>
    {% render_bundle 'app' %}
</body>
</html>